body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    font-family: 'Courgette', cursive;
}


/* * {
    box-sizing: border-box;
    margin: var(--default-space);
    padding:var(--default-space);
} */


/* :root {
    --header-color: #9e0e0e;
} */

#navbar {
    background-color: var(--header-color);
    /* background-color: #0a4696; */
    height: 60px;
    position: sticky;
    left: 0px;
    /*x*/
    top: 0px;
    /*y*/
    width: 100%;
}

#navbar .navbar-brand {
    width: 30%;
    /*background-color: blue;*/
    float: left;
    padding-top: 16px;
    /*  padding-left:5px;*/
    color: #ecebeb;
    font-weight: bold;
}

#navbar .nav {
    width: 70%;
    /* background-color: red;*/
    float: left;
}

#navbar .nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}

#navbar .nav ul li {
    float: left;
    /* padding-left: 20px;
                padding-right: 20px;*/
}

#navbar .nav ul li a:link,
#navbar .nav ul li a:visited {
    color: #ffffff;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}


/* #navbar .nav ul li a:link {
    color: #ffffff;
}

#navbar .nav ul li a:visited {
    color: #ff0000;
} */

#navbar .nav ul li a:hover {
    background-color: #059205;
}

#navbar .nav ul li a:active {
    transform: scale(0.9);
}

.center {
    text-align: center;
}

.copy-rights {
    background-color: #c5c1c1;
    color: #000000;
    opacity: 0.6;
    position: fixed;
    left: 500px;
    top: 95vh;
    width: 300px;
    text-align: center;
}

.box {
    margin: 20px;
    /* width: 200px;
    height: 350px;
    float: left;*/
    background-color: #9e9a9a;
    padding: 20px;
    /* /* display: inline-block */
    width: 300px;
    height: 300px;
    float: left;
}

.capital {
    /*background-color: #e63a3a;
    color: #ffffff;
    width: 160px;
    height: 70px;
    position: relative/*absolute;*/
    /*top: 80px;
    left: 40px;*/
}

#Japan {
    /* display: none; */
    visibility: hidden;
}

.center {
    text-align: center;
}


/* table styles */

.table {
    width: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px #c0bbbb;
    margin-top: 10px;
    margin-bottom: 30px;
    border-collapse: collapse;
    min-width: 1000px;
    caption-side: top;
}

.table-container {
    width: 95%;
    margin: auto;
    overflow: auto;
    margin-bottom: 100px;
    max-height: 700px;
}

.table td {
    border: 1px solid #a39d9d;
    /* border-top: 1px solid #a39d9d; */
    /* border-bottom: 1px solid #a39d9d; */
    padding: 8px;
}


/* .table tbody tr:not(:nth-child(1)) {
    background-color: #1ec564;
} */

.table th {
    border: 1px solid #a19c9c;
    padding: 12px 10px;
    text-align: left;
    background-color: #b1aeae;
    color: #ffffff;
}

.table tr {
    transition: background-color 0.3s;
}


/* .table tr:nth-child(even) {
    background-color: #ffffff;
}

.table tr:nth-child(odd) {
    background-color: #cecccc;
} */

.table tr:hover {
    background-color: #b6aaaa;
}


/* child selector */

.table caption {
    background-color: #0e5b8f;
    color: #ffffff;
    padding: 12px 10px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}


/* class selector */

.my-caption-class {
    /* font-style: italic; */
    background-color: #46db21;
}

.lang-hindi {
    vertical-align: /*baseline*/
    top;
}


/* .table td:empty {
    background-color: #1f70a7;
} */

table tbody tr:nth-child(1)td:nth-child(3) {
    background-color: #1ec564;
}


/* pagination styles */

.pagination {
    background-color: #887f7f;
    width: 400px;
    margin: auto;
    margin-bottom: 100px;
    font-size: 25px;
    height: 50px;
}

.pagination ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.pagination ul li {
    width: 50px;
    text-align: center;
    float: left;
}

.pagination ul li a:link {
    text-decoration: none;
    color: #ffffff;
    width: 50px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    transition: background-color 0.3s;
}

.pagination ul li a:hover {
    background-color: #7aa7ad;
}


/* card styles */

.card {
    width: 300px;
    box-shadow: 2px 2px 3px 3px #c7bbbb;
    margin: 20px;
}

.float-left {
    float: left;
}


/* .card-header {
    background-color: #9b9696; 
    background-color: var(--header-color);
    padding: 10px 18px;
    color: #ffffff;
} */

.card-body {
    padding: 18px;
}

.card-footer {
    padding: 10px;
    text-align: right;
    background-color: #d1cdcd;
}

.card-container {
    height: 350px;
}


/* list-group */

.list-group {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.list-group li {
    padding: 8px 5px;
    border-bottom: 1px solid #cecece;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group li:hover {
    background-color: #e7e5e5;
}

.card-body h4 {
    margin: 0px;
    padding: 0px;
}

.list-group li::before {
    content: url("/files/star.png");
}


/* form */

.signup-card {
    width: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.form-element {
    height: 35px;
    /* background-color: #c9c1c1; */
    margin-bottom: 20px;
}

.form-label {
    width: 30%;
    float: left;
    font-size: 17px;
}

.form-control-container {
    width: 70%;
    float: left;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #5e9adf;
    transition: box-shadow 0.3s;
}

.form-control:focus {
    box-shadow: 0px 0px 3px 2px #2b77be;
    outline: none;
}

.btn {
    background-color: #1869ac;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #bdbbbb;
    transition: background-color0.3s, box-shadow0.3s;
    border: 1px solid #ebe8e8;
    margin: 2px 6px;
}

.btn:hover {
    background-color: #1869ac;
    box-shadow: 0px 0px 3px 3px #9e9b9b;
}

.reset-button {
    background-color: #ee3c3c;
}

.reset-button:hover {
    background-color: #c72727;
}


/* htyjktjt */

input:checked {
    box-shadow: 0px 0px 4px 2px #0e32a8;
    background-color: #0e32a8;
}

option:checked {
    color: #ffffff;
    background-color: #3363a1;
}

input:enabled {
    background-color: #c5f56b;
}

input:disabled {
    background-color: #4a4b49;
    color: #ffffff;
}

input:read-write {
    background-color: #c5f56b;
}

input:read-only {
    background-color: #4a4b49;
    color: #ffffff;
}

input:optional {
    border: 2px solid #01a33f;
}

input:required {
    border: 2px solid #e23003;
}

input:valid {
    border: 2px solid #f1b306;
}

input:invalid {
    border: 2px solid #e70bc3;
}

::selection {
    background-color: #ffff00;
    color: #000000;
}


/* abc */

* {
    box-sizing: border-box;
    margin: var(--default-space);
    padding: var(--default-space);
}

:root {
    --header-color: #9e0e0e;
    --default-space: 0px;
}

.card-header {
    /* background-color: #9b9696; */
    background-color: var(--header-color);
    padding: 10px 18px;
    color: #ffffff;
}