@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    font-family: "Segoe UI"s;
    font-size: 22px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sidebar {
    background-color: #373737;
    color: #ffffff;
    height: 100vh;
    width: 300px;
}

.sidebar-menu {
    list-style-type: none;
}

.sidebar-menu>li>a:link,
.sidebar-menu>li>a:visited {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    line-height: 30px;
    transition: all 0.3s;
}

.sidebar-menu>li>a>i {
    margin-right: 20px;
    margin-left: 15px;
}

.sidebar-menu>li>a:hover {
    color: #ffffff;
    border-left: 3px solid #22a6c7;
    background-color: #05747c;
}

.sidebar.sub-menu>ul>li>a:link,
.sidebar.sub-menu>ul>li>a:visited {
    background-color: #9c9a9a;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    padding: 10px;
}

.sidebar.sub-menu>ul>li>a>i {
    margin-right: 10px;
    margin-left: 40px;
}

.sidebar.sub-menu>ul>li>a:hover {
    background-color: #3eced8;
    color: #000000;
    border-left: 3px solid #dbdbdb;
}

.sidebar.sub-menu>ul {
    list-style-type: none;
    display: none;
}

.indlcator {
    float: right;
    font-size: 0.8em;
    line-height: 30px;
    transition: all 0.3s;
}

.reverse {
    transition: rotate(180beg);
}